
.DS_Store
dcamp/P/.ipynb_checkpoints/220313_Introduction_to_Python-checkpoint.ipynb
dcamp/R/.ipynb_checkpoints/220313_Introduction_to_R-checkpoint.ipynb
dcamp/R/.ipynb_checkpoints/220329_R_Simulating_Clusters_With_Continuous_and_Categorical_Variables-checkpoint.ipynb
dcamp/P/.ipynb_checkpoints/220507_Intermediate Python-checkpoint.ipynb
dcamp/P/.ipynb_checkpoints/220313_001_Introduction_to_Python-checkpoint.ipynb
dcamp/P/.ipynb_checkpoints/220507_002_Intermediate Python-checkpoint.ipynb
dcamp/P/.ipynb_checkpoints/220513_001Q_Introduction_to_Python-checkpoint.ipynb
dcamp/P/.ipynb_checkpoints/220513_001QA_Introduction_to_Python-checkpoint.ipynb
dcamp/P/.ipynb_checkpoints/220513_001Q_Introduction_to_Python-checkpoint.txt
dcamp/P/.ipynb_checkpoints/python1000-checkpoint.txt
dcamp/P/.ipynb_checkpoints/220520_P_scratch-checkpoint.ipynb
dcamp/P/220520_P_scratch.ipynb
ISLR-v2/.ipynb_checkpoints/220525_R_Cap02_Intro_to_R-checkpoint.ipynb
ISLR-v2/.ipynb_checkpoints/fig-checkpoint.jpeg
ISLR-v2/.ipynb_checkpoints/fig-checkpoint.pdf
ISLR-v2/.ipynb_checkpoints/220529_R_scratch-checkpoint.ipynb
ISLR-v2/.ipynb_checkpoints/Auto-checkpoint.data
ISLR-v2/220529_R_scratch.ipynb
ISLR-v2/.ipynb_checkpoints/220525_R_Cap02Q_Intro_to_R-checkpoint.txt
ISLR-v2/.ipynb_checkpoints/Ch2-statlearn-lab-checkpoint.ipynb
ISLR-v2/Ch2-statlearn-lab.ipynb
